
.smx-m10EiE{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: #FF8A80;}

.smx-m08{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;background-color: #B39DDB ;}

.smx-m06 {font-family:'Times New Roman', Times, serif;background-color: #FFCDD2 ;}

.smx-m07{font-family:'Brush Script MT', cursive ;background-color:#007c7c ;}

.smx-m04{font-family:sans-serif;background-color:#bda9a3;}

.DESCANSO {background-color:#ffffff;}

.Tut-Alumn {font-family:Courier, monospace;background-color:rgba(90, 197, 170, 0.867);}

h4:hover {
    background: blue; color:white

;}

a:hover{ 
color:white

;}