h2{color: green;}

.InformacionBasica{background-color: lightsalmon;}

.Nacionalidad{background-color: lightgreen;}

.Estudios{background-color: lightpink;}

.Idiomas{background-color: lightblue;}

.EnviaryCancelar{background-color: lightgray;}

body{margin: 0 auto; }
